%nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
  \%= link_to app_name, "/", class: "navbar-brand" %&gt;
  %button.navbar-toggler{"aria-controls" => "navbarsExampleDefault", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarsExampleDefault", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarsExampleDefault.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item
      = 'active' if current_page?(/)
      "&gt;
      \#{link_to / do}
        Home
        \#{(content_tag :span, (current), :class = sr-only) if current_page?(/)}
    %li.nav-item
      \%= link_to "Link1", "/path1", class: "nav-link" %&gt;
    %li.nav-item
      \%= link_to "Link2", "/path2", class: "nav-link" %&gt;
    %li.nav-item
      \%= link_to "Link3", "/path3", class: "nav-link" %&gt;
    %li.nav-item
      %a.nav-link.disabled{"aria-disabled" => "true", :href => "#", :tabindex => "-1"} Disabled
    %li.nav-item.dropdown
      %a#dropdown01.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#"} Dropdown
      .dropdown-menu{"aria-labelledby" => "dropdown01"}
        %a.dropdown-item{:href => "#"} Action
        %a.dropdown-item{:href => "#"} Another action
        %a.dropdown-item{:href => "#"} Something else here
  %form.form-inline.my-2.my-lg-0
    %input.form-control.mr-sm-2{"aria-label" => "Search", :placeholder => "Search", :type => "text"}
      %button.btn.btn-secondary.my-2.my-sm-0{:type => "submit"} Search
